@charset "utf-8";

//EXTRAS ... EXTRAS
.nono { display:none; }
.stoped { z-index:-10; max-width:1px; }
#restart:hover { color:white; }
.red_john {
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2I0MjcyNyIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMiUiIHN0b3AtY29sb3I9IiNiNDI3MjciIHN0b3Atb3BhY2l0eT0iMSIvPgo8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3MTA0MDQiIHN0b3Atb3BhY2l0eT0iMSIvPgogICA8L2xpbmVhckdyYWRpZW50PgoKPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiIGZpbGw9InVybCgjaGF0MCkiIC8+Cjwvc3ZnPg==);
	background-image: -moz-linear-gradient(bottom, #b42727 0%, #b42727 1.64%, #710404 100%);
	background-image: -o-linear-gradient(bottom, #b42727 0%, #b42727 1.64%, #710404 100%);
	background-image: -webkit-linear-gradient(bottom, #b42727 0%, #b42727 1.64%, #710404 100%);
	background-image: linear-gradient(bottom, #b42727 0%, #b42727 1.64%, #710404 100%); 
}
.normal-please {
	font-family: "Times New Roman",Georgia,Serif;
}
.darkBG-1 { background-image: url(../images/dark_wall.png); }
.darkBG-2 { background-image: url(../images/black.png); }
.darkBG-3 { background-image: url(../images/darkM.png); }
.darkBG-4 { background-image: url(../images/diBG.png); }
.darkBG-5 { background-image: url(../images/grey_wash_wall.png); }
.darkBG-6 { background-image: url(../images/gun_metal.png); }
.grey { color:grey !important; }

//GENERAL RULES
img { max-width:100%; }
.shadow_img {
	-moz-box-shadow: 0 0 15px 5px rgba(0,0,0,.70);
	-webkit-box-shadow: 0 0 15px 5px rgba(0,0,0,.70);
	box-shadow: 0 0 15px 5px rgba(0,0,0,.70);
}

.shadow_txt {
	text-shadow: 3px 4px 5px rgba(0,0,0,.85);
}

html { 
	height:100%; 
}

body { 
		font-family: 'Black Ops One', cursive;
		color:white;
		margin:0px 0px; padding:0px; 
		text-align:center; 
		overflow:scroll;
	}
//GENERAL RULES ENDS

//HEADER
#social { 
	float:right; 
	width:146px; 
	height:68px; 
	padding-top: 10px;
}

#fb{
	left:0px;
	width:68px;
	background:url('../images/fb.png') 0 0;
}
#fb a:hover{
	background: url('../images/fb.png') 0 -68px;
}

#tw{
	left:68px;
	width:68px;
	background:url('../images/tw.png') 0 0;
}

#tw a:hover{
	background: url('../images/tw.png') 0 -68px;
}

#navlist{
	position:relative; 
	margin:0;
}

#navlist li{
	margin:0;
	padding:0;
	list-style:none;
	position:absolute;
	top:0;
}

#navlist li, #navlist a{
	height:68px;
	display:block;
}
//MAIN MENU

#main_menu li{
	padding:0px 5px 0px 0px;
	text-align:center;
	position:relative;
	color:red;
	font-weight:bold;
	text-shadow: 3px 4px 5px rgba(0,0,0,.85);
}

#main_menu li, #main_menu a{
	text-decoration:none;
	color:red;
	transition: all .5s ease;
	-webkit-transition: all .5s ease; /* Safari */
	:visited { color:red; }
	:hover { color:white; text-shadow: red 1px 1px, red 2px 2px, red 3px 3px, red 4px 4px; }
	:active { color:red; }
}

#login_panel {
	text-align:left;
	background-image: url(../images/darkM.png);
	position:absolute;
	z-index:10;
	right:0;
	padding:10px;
	border-radius:5px;
	button { font-weight:bold;  }
	a { 
		font-family: 'Source Code Pro', sans-serif;
		font-size:small;
		text-decoration:none; 
		transition: all .5s ease;
		-webkit-transition: all .5s ease; /* Safari */
	}
	a:link { color:red; }
	a:visited { color:red; }
	a:hover { color:white; }
}

//MAIN CONTENT
div.clear {
	clear:both;
}

#page { 
	position:relative;
	margin:0 auto;
	margin:0px auto; 
	text-align:left; 
	padding:5px; 
}

#content {
	position:relative;
	width:100%;
	clear:both;
	-moz-box-shadow: 0 0 50px 13px rgba(0,0,0,.70);
	-webkit-box-shadow: 0 0 50px 13px rgba(0,0,0,.70);
	box-shadow: 0 0 50px 13px rgba(0,0,0,.70);
}

#main {
	position:relative;
	margin:0 auo;
	padding:0;
}

#gStart, #main-col, #left-col {
	position:relative;
}

#gStart {
	background-image: url('../images/darkM.png');
}

#left-col {
	margin:0;
	padding:10;
	background-image: url('../images/diBG.png');
	-moz-box-shadow: 0 0 10px 10px rgba(0,0,0,.70);
	-webkit-box-shadow: 0 0 10px 10px rgba(0,0,0,.70);
	box-shadow: 0 0 10px 10px rgba(0,0,0,.70);
	z-index:10;
}

#main-col {
	padding: 0px 0px 0px 10px;
	margin:0 auto;
	background-image: url('../images/darkM.png');
}

#hunt-menu {
	position:relative; 
	color:red;
	font-weight:bold;
	text-shadow: 3px 4px 5px rgba(0,0,0,.85);
}

#hunt-menu li{
	color:grey;
	border-radius:5px;
	padding:5px;
	width:100%;
	:visited { color:grey; }
	:hover { color:red;  }
	:active { color:grey; }
}

#hunt-menu a{
	color:grey;
	display:block;
	text-decoration:none;
	transition: all .5s ease;
	-webkit-transition: all .5s ease; /* Safari */
	:visited { color:grey; }
	:hover { color:red;  }
	:active { color:grey; }
}

.panel_h {
	display:none;
	border-bottom:0px; //IMPORTANT TO CHANGE THIS IN NONJS AND LEAVE HERE THE 0, ALSO ADD THE NONO CLASS IN JS
	margin:0;
}

.jsPanel {
	display:none;
}

.slide_wrapper {
	position:relative;
	top:0px;
	left:0px;
	border:0;
	margin:0 auto;
}

#slide1, #slide2, #slide3, #slide4 {
	position:absolute;
	margin:0 auto;
	border:0;
	top:0;
	left:0;
}

.coppy_main {
	margin:0 auto;
	z-index:1;
}

.contact_main {
	background-image: url(../images/darkM.png); 
}

//GALLERY AREA

//SHOWROOM DISPLAY
#zombie_normal, #undead_regular, #undead_premium, #creepy_mutations, #house_experiments {
	position:relative;
	float:left;
	background-size: contain;
	margin: 0px;
	padding: 0px;
	border: 0px;
}

.shadow_curtain {
	position:absolute;
	height:100%;
	width:100%;
	left:0;
	top:0;
	opacity: .7; /* layer alpha */
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSI5OSUiIHgyPSI1MCUiIHkyPSIwLjk5OTk5OTk5OTk5OTk5JSI+CjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgo8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzNjM2MzYyIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+); /* gradient overlay */
	background-image: -moz-linear-gradient(bottom, #000 1%, #3c3c3c 50%, #000 99%); /* gradient overlay */
	background-image: -o-linear-gradient(bottom, #000 1%, #3c3c3c 50%, #000 99%); /* gradient overlay */
	background-image: -webkit-linear-gradient(bottom, #000 1%, #3c3c3c 50%, #000 99%); /* gradient overlay */
	background-image: linear-gradient(bottom, #000 1%, #3c3c3c 50%, #000 99%); /* gradient overlay */
}

#zombie_normal { background-image: url('../images/p1_zombie_normal.jpg'); }
#undead_regular { background-image: url('../images/p2_undead_regular.jpg'); }
#undead_premium { background-image: url('../images/p3_undead_premium.jpg'); }
#creepy_mutations { background-image: url('../images/p4_creepy_mutations.jpg'); }
#house_experiments { background-image: url('../images/p5_house_experiments.jpg'); }
//SHOWROOM DISPLAY ENDS

//ACTIVITIES AREA
div.activity  .act_details p { color:grey; }
//ACTIVITIES AREA FINISH

//TROPHY ROOM
.iconT-zombie {
	background-image: url('../images/icons/trophy-zombie.png');
	background-size: contain;
}
.iconT-regular {
	background-image: url('../images/icons/trophy-regular.png');
	background-size: contain;
}
.iconT-premium {
	background-image: url('../images/icons/trophy-premium.png');
	background-size: contain;
}
.iconT-mutant {
	background-image: url('../images/icons/trophy-mutant.png');
	background-size: contain;
}
.iconT-cyber {
	background-image: url('../images/icons/trophy-cyber.png');
	background-size: contain;
}

//CONTACT AREA
#copy_contact {
	position:relative;
	margin: 0 auto;
}

.error_span {
	color:red;
	font-size:small;
}

#topic, input,  #message_field {
	padding:8px;
	font-weight:bold;
	display:block;
	-moz-box-shadow:    inset 3px 3px 8px #000000;
	-webkit-box-shadow: inset 3px 3px 8px #000000;
	box-shadow:         inset 3px 3px 8px #000000;
	border:0px;
	border-radius:5px;
	color:white;
}

label {
	color:#CCCCCC;
	border:0px;
	text-transform:uppercase;
}
//ADDRESS AND PHONE NUMBERS
#social_info_C p, #phone_info_C p {
	a { 
		text-decoration:none; 
		transition: all .5s ease;
		-webkit-transition: all .5s ease; /* Safari */
	}
	a:link { color:grey; }
	a:visited { color:grey; }
	a:hover { color:red; }
}

#address_info_C {
	color:grey;
}

#contact_info h1 span { color:grey; }

//CONTACT AREA ENDS


//FOOTER
#footer_top {
	background-image: url('../images/ch-top.png');
	width:100%;
	height:60px;
	text-align:center;
}

#footer {
	background-image: url('../images/ch-lnk.png');
	width:100%;
	text-align:center;
}

#footer_bottom {
	background-image: url('../images/ch-bot.png');
	width:100%;
	height:60px;
	text-align:center;
	margin-top: -16px;
	p { margin-bottom:0px; font-weight:bold; padding-top:25px; }
}

#left_text, .text1_3, #only_text {
	background-image: url(../images/darkM.png); 
	padding:5px;
	font-size:small;
}

//BOTTOM WALKERS ANIMATION
#walker_area { 
	position: absolute;
	z-index:-1;
	width:100%;
	bottom:0px;
	margin: 0 auto;
	text-align:left;
	#walkers{
		position:relative;
		width:100%;
		#walker_img { position: absolute; }
		#walker_img2 { position: absolute; }
	}
}
//CLASSES TO USE SAME IMAGE ON BOTH SIDES
.reversed {
	-webkit-transform: scaleX(-1);
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-ms-transform: scaleX(-1);
	transform: scaleX(-1);
}

.normal {
	-webkit-transform: scaleX(1);
	-moz-transform: scaleX(1);
	-o-transform: scaleX(1);
	-ms-transform: scaleX(1);
	transform: scaleX(1);
}
//ENDS WALKERS AREA

//ZOMBIES "MINIGAME"
#zombie_range, #shoot {
	width:100%;
	bottom:0px;
	left:0px;
	margin:0 auto;
}

#zombie_range { 
	position:absolute;
	height:50%;
}

#shoot {
	position:relative;
	height:100%;
	cursor:url('../images/chc.png') 32 32, pointer;
	cursor:url('../images/chc.png') 32 32, hand;
	cursor:url('../images/chc.png') 32 32, default;
}

#speedy_zombie {
	background-image: url('../images/target_fast.png');
	background-size: contain;
}

#normal_zombie1 {
	background-image: url('../images/target.png');
	background-size: contain;
}

#normal_zombie2 {
	background-image: url('../images/target2.png');
	background-size: contain;
}

#slow_zombie {
	background-image: url('../images/target_slow.png');
	background-size: contain;
}

@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:400,700);
@import url(http://fonts.googleapis.com/css?family=Black+Ops+One);

@import url(moonico.css);


@media only screen and (min-width: 901px) and (max-width: 2000px) {

	body { 
		background-image: url(../images/BG.jpg); 
		background-repeat:no-repeat;
		background-attachment:fixed;
		background-position:center bottom; 
	}

	//HEADER AREA STARTS
	#header_container { background-image: url('../images/warning_bg_2.jpg'); height:160px; position:relative; }
	#header { height:140px; width:900px; padding-top: 15px; position:relative; a, img{ border:none; } }

	#logo { 
		float:left;
		height: 85%;
		padding-top: 6px;
	}

	#right_header { 
		float:right; 
	}
	
	//HEADER AREA ENDS

	//FOOTER
	

	//MAIN MENU STARTS
	#main_menu{
		position:absolute; 
		margin:0; 
		font-size:14px;
		height:30px;
		right:0px;
		bottom:30px;
	}
	#main_menu li{
		margin:2px 0px 0px 0px;
		list-style:none;
		float:left;
	}
	#main_menu li, #main_menu a{ height:20px; }
	#menu_container { width:auto; }
	#menu { width:100%; height:30px; }
	//MAIN MENU ENDS

	#login_panel {
		top:130px;
		button { padding:5px; width:170px; }
	}

	//MAIN CONTENT
	#page { 
		width:900px; 
	}

	#gStart, #main-col, #left-col {
		min-height:600px;
	}
	
	#left-col {
		width:180px;
		min-height:600px;
		float:left;
	}

	#main-col {
		float:left;
		width:710px;
	}

	#hunt-menu {
		width: 140px;
		font-size:14px;
		list-style:none;
	}

	#hunt-menu li{
		margin-left:-24px;
		border-bottom: 1px dashed white;
	}

	#hunt-menu a{
		height:20px;
	}

	.panel_h {
		position:absolute; //CHANGED IN NOJS
		height:580px;
		border-bottom:0px; //IMPORTANT TO CHANGE THIS IN NONJS AND LEAVE HERE THE 0, ALSO ADD THE NONO CLASS IN JS
		padding:10px;
		right:0;
	}

	.panel_content_h {
		position:relative;
	}

	#panels_container {
		position:relative;
	}

	.coppy_main {
		position: absolute;
		left: 20px;
		top: 0px;
		font-size:small;
		h1 { font-size: 60px; margin-bottom:10px;}
		P { font-size: 23px; }
	}

	#copy_1 {
		P { margin:50px 0px;}
	}

	#copy_2 {
		P { margin:260px 0px;}
	}

	#copy_3 {
		P { margin:360px 0px;}
	}

	#copy_contact {
		padding:10px;
		h1 { margin-bottom:10px;}
		P { margin:0px;}
	}

	//GALLERY AREA
	.gallery_container {
		width:100%;
		height:100%;
		position:relative;
	}
	div.main_display, div.tumb_images {
		display: inline-block;
	}
	div.main_display {
		width:500px;
		height:500px;
		img {
			width:96%;
			height:96%;
			margin:2%;
		}
		.text_container_IG {
			position: absolute;
			margin: 20px;
			width: 460px;
			bottom: 0px;
			background-color: rgba(0,0,0,.5); /* layer fill content + color overlay */
			p {
				
			}
		}
	}
	div.tumb_images {
		width:180px;
		height:100%;
		img {
			width:160px;
			margin:2px;
		}
	}
	//GALLERY AREA FINISH
	
	//SHOWROOM DISPLAY
	div.showRoom {
		width:700px;
		height:500px;
	}

	#zombie_normal, #undead_regular, #undead_premium, #creepy_mutations, #house_experiments {
		width: 140px;
		height: 500px;
	}

	.show_description {
		padding:5px;
	}

	//SHOWROOM DISPLAY ENDS

	//ACTIVITIES AREA
	div.activity {
		border-bottom:1px dashed white;
		img {
			display: inline-block;
			float:left;
			margin:20px;
			width:250px;
		}
		.act_details {
			display: inline-block;
			width:600px;
		}
	}
	//ACTIVITIES AREA FINISH

	#copy_404 {
		text-align:center;
		font-size:small;
		h1 { font-size: 60px; margin-bottom:10px; margin-top: 0;}
		P { font-size: 30px; margin:0px;}
	}

	//TROPHY ROOM
	#trophy-header {
		padding:10px;
		height:70px;
		z-index:100;
		text-align:center;
	}

	.icon-trophyA {
		width:88px;
		height:88px;
		border:0px;
		margin:0px;
		padding:0px;
		display:inline-block;
	}

	.trophy-individual {
		display:inline-block;
		width:120px;
		float: right;
		text-align:center;
		p {
			background-image: url('../images/icons/stain.png');
			background-size: contain;
			background-repeat:no-repeat;
			color:red;
			margin:0px;
			text-shadow: 0px 2px 5px rgba(0,0,0,.85) !important;
		}
	}

	#trophy-counter {
		float:left;
		width:230px;
		height:498px;
		margin-top:2px;
		padding:5px;
		border-right:1px dashed white;
	}

	.trophy-container {
		width:220px;
		margin:5px;
		padding:1px;
		border-bottom:1px dashed white;
	}

	.last {
		border-bottom:0px !important;
	}

	#trophy-panel {
		float:left;
		padding:10px;
		text-align:center;
		width: 639px;
	}

	.stat-title, .stat-number {
		font-size:130%;
		padding:5px;
	}

	.stat-title { color:red; text-align:right; }
	.stat-number { color:grey; text-align:left; }
	.high-score { font-size:200%; }

	#credentials {
		margin:0 auto;
		position:absolute;
		width:300px;
		left:285px;
		top:70px;
		padding:15px;
		border-radius:5px;
		span { color:red; }
		button { padding:5px; }
		h2 {
			text-align:center;
			margin:3px 0px 10px;
		}
	}
	//INPUT FOR REGISTER AND FORGET PASS
	.longInp {
		width:280px !important;
	}

	//CONTACT AREA

	
	//CONTACT FORM STARTS

	#topic, input,  #message_field {
		margin-bottom:10px;
	}

	label {
		width:120px;
	}

	#contact_form {
		width:440px;
		padding: 5px;
		padding-left:10px;
		position: absolute;
		margin: 0 auto;
		right:0px;
		border-left: 1px dashed white;

		#topic {
			background-color:grey;
			width:410px;
		}

		input {
			width:400px;
		}

		.form_message {
			font-weight:bold;
			color:red;
		}

		#submit_btn, #login_panel button {
			padding: 10px;
			text-transform:uppercase;
			cursor:hand;
			cursor:pointer;
		}

		#message_field {
			height:200px;
			width:400px;
		}

		#date_selection_container {
			clear:both;
			height:70px;
			#date_selector, #hunters_selector {
				width:220px;
				float:left;
				input { width:150px; }
			}
		}

		#donate_zombie_container {
			clear:both;
			height:70px;
			#z_name, #i_date {
				width:220px;
				float:left;
				input { width:150px; }
			}
		}
	}//CONTACT AREA FORM ENDS

	//ICOMOON ICONS
	.icon-phone, .icon-print, .icon-facebook, .icon-twitter, .icon-location, .icon-home, .icon-target, .icon-fire, .icon-mail, .icon-user, .icon-grin, .icon-cancel-circle {
		margin-right:2px;
		margin-left:3px;
	}
	.icon-location {
		float:left;
		height:50px;
		margin-right:5px;
	}
	//ICOMOON ICONS FINISH

	//ADDRESS AND PHONE NUMBERS
	#contact_info {
		position:absolute;
		padding-top: 5px;
		padding-left: 20px;
		top:0px;
		left:0px;
		width: 400px;
		h1 {
			font-size:18px;
			span { font-size:10px; }
		}
		#phone_info_C {
			float:left;
			margin-right:15px;
		}
	}
	//ADDRESS AND PHONE NUMBERS ENDS
	#map {
		position:absolute;
		padding:5px;
		top:220px;
		left:10px;
		border: 0px;
		margin: 0 auto;
		width: 415px;
		height:345px;
	}
	//ENDS CONTACT AREA
	//ENDS MAIN CONTENT

	//FOOTER AREA BEGINS

	.footer_line { text-align:center; position:relative; overflow:hidden;}
	.er_pg_footer { position:fixed; bottom:0px; text-align:center; width:100%; }//MENTAL NOTE: CHECK THE POSITION.
	#footer_containers { width:900px; height:360px; margin: 0 auto;}

	#footer_bottom P { font-size:15px; }
	#footer { height:360px; }

	//TEXT BOXES FOR 3 COLUMNS
	.footer1_3, .footer3_3 {
		float:left;
		margin:0px;
		padding:4px; 
	}

	.footer1_3 {
		width:290px;
	}

	.footer3_3 {
		width:892px;
	}

	#left_text, .text1_3 {
		h1 { font-size:15px; color:red; }
	}
	
	#only_text {
		h1 { font-size:30px; color:red; }
	}
	//FOOTER AREA ENDS

	//BOTTOM WALKERS ANIMATION
	#walker_area { 
		height:250px;
		#walkers{
			height:250px;
			#walker_img { height:250px; left:-250px;}
			#walker_img2 { height:250px; right:-250px;}
		}
	}
	//ENDS WALKERS AREA

	//ZOMBIES "MINI GAME"
	#score_display {
		position:absolute;
		width:300px;
		height:100px;
		top:0px;
		right:5px;
		text-align:right;
		h1 { color:red; font-size:40px; margin:20px 0 10px; }
		h2 { color:blue; font-size:20px; margin:0 0 5px; }
	}
	.score {
		width:100px;
	}

	#speedy_zombie, #normal_zombie1, #normal_zombie2, #slow_zombie {
		width:159px;
		height:200px;
		position:absolute;
		bottom:22px;
		margin: 0 auto;
	}

	.zombie-trophyRoom {
	    margin:10px !important;
		width:120px !important;
		height:151px !important;
		position:relative !important;
		bottom:0px !important;
		display:inline-block;
	}
	
	.targets{
		position:relative; 
		margin:0; 
		left:-40px;
		top:0px;
		height:200px;
		width:159px;
	}

	.headshot{
		list-style:none;
		position:absolute;
		margin:0; 
		right:10px;
		top:0px;
		width:105px;
		height:115px;
		z-index:100;
		a{
			height:115px;
			width:105px;
			position:relative;
			text-decoration:none;
			z-index:100;
		}
	}

	.hit{
		list-style:none;
		position:absolute;
		margin:0; 
		right:25px;
		top:115px;
		width:115px;
		height:56px;
		z-index:100;
		a{
			height:56px;
			width:115px;
			position:relative;
			text-decoration:none;
			z-index:100;
		}
	}

}

@media only screen and (min-width: 481px) and (max-width: 900px) {

	body { background-image: url(../images/grey_wash_wall.png); }
	#header_container { background-image: url('../images/warning_bg_2.jpg'); background-size: contain; height:100px; position:relative; }
	#header { height:100px; padding-top: 10px; position:relative; a, img{ border:none; } }
	#logo { float:left; height: 85%; }

	//MAIN MENU STARTS
	#main_menu{
		position:absolute; 
		margin:0 auto; 
		font-size:14px;
		height:20px;
		right:0px;
		bottom:9px;
		z-index:100;
		width:100%;
		background-color:rgba(0,0,0,.5);
		text-align:center;
	}
	#main_menu li{
		margin:2px 0px 0px 0px;
		list-style:none;
		float:none;
		display:inline-block;
	}
	#main_menu li, #main_menu a{ height:20px; }
	#menu_container { width:auto; }
	#menu { width:100%; height:30px; }
	//MAIN MENU ENDS
	
	#login_panel {
		top:105px;
		button { padding:5px; width:170px; }
	}

	#gStart {
		min-height:500px;
	}

	.coppy_main {
		position: absolute;
		left: 20px;
		top: 0px;
		font-size:small;
		h1 { font-size: 40px; margin-bottom:10px;}
		P { font-size: 18px; }
	}

	#copy_1 {
		P { margin:60px 0px;}
	}

	#copy_2 {
		P { margin:200px 0px;}
	}

	#copy_3 {
		P { margin:200px 0px;}
	}

	//HUNTING
	#left-col {
		width:100%;
		float:left;
		margin-bottom:13px;
	}

	#main-col {
		margin-top:-30px;
		float:left;
		width:99%;
	}

	#hunt-menu {
		list-style:none;
		text-align:center;
	}

	#hunt-menu li{
		width:auto;
		display:inline-block;
	}

	#hunt-menu a{
		height:20px;
	}

	.panel_h {
		position:absolute; //CHANGED IN NOJS
		min-height:580px;
		width: 98%;
		border-bottom:0px; //IMPORTANT TO CHANGE THIS IN NONJS AND LEAVE HERE THE 0, ALSO ADD THE NONO CLASS IN JS
		padding:10px;
	}

	.panel_content_h {
		position:relative;
		width:100%
	}

	#panels_container {
		min-height:580px;
		position:relative;
	}

	//GALLERY AREA
	.gallery_container {
		width:100%;
		height:100%;
		position:relative;
		margin:-30px;
	}
	div.main_display, div.tumb_images {
		display: inline-block;
	}
	div.main_display {
		width:100%;
		height:450px;
		text-align: center;
		img {
			width:auto;
			height:400px;
			margin-top:2%;
		}
		.text_container_IG {
			background-color: rgba(0,0,0,.5); /* layer fill content + color overlay */
		}
		p { margin-top: 2px; }
	}
	div.tumb_images {
		width:100%;
		height:5%;
		text-align: center;
		img {
			height:5%;
			width:auto;
			margin:2px;
		}
	}
	//GALLERY AREA FINISH

	//SHOWROOM DISPLAY
	div.showRoom {
		width:98%;
		height:500px;
	}

	#zombie_normal, #undead_regular, #undead_premium, #creepy_mutations, #house_experiments {
		width: 20%;
		height: 500px;
		background-repeat:no-repeat;
	}

	.show_description {
		padding:5px;
	}

	//SHOWROOM DISPLAY ENDS

	//ACTIVITIES AREA
	div.activity {
		border-bottom:1px dashed white;
		img {
			display: inline-block;
			float:left;
			margin:20px;
			width:40%;
		}
		.act_details {
			display: inline-block;
			width:50%;
		}
	}
	//ACTIVITIES AREA FINISH

	//CONTACT AREA

	
	//CONTACT FORM STARTS

	#topic, input,  #message_field {
		margin-bottom:10px;
	}

	label {
		width:120px;
	}

	.extra_space {
		min-height:580px !important;
	}
	.extra_space2 {
		min-height:200px !important;
	}

	#contact_form {
		width:59%;
		padding: 5px;
		padding-left:10px;
		position: absolute;
		margin: 0 auto;
		right:0px;
		border-left: 1px dashed white;

		#topic {
			background-color:grey;
			width:97%;
		}

		input {
			width:95%;
		}

		.form_message {
			font-weight:bold;
			color:red;
		}

		#submit_btn, #login_panel button {
			padding: 10px;
			text-transform:uppercase;
			cursor:hand;
			cursor:pointer;
		}

		#message_field {
			height:200px;
			width:95%;
		}

		#date_selection_container {
			clear:both;
			height:70px;
			#date_selector, #hunters_selector {
				width:220px;
				float:left;
				input { width:150px; }
			}
		}

		#donate_zombie_container {
			clear:both;
			height:70px;
			#z_name, #i_date {
				width:220px;
				float:left;
				input { width:150px; }
			}
		}
	}//CONTACT AREA FORM ENDS

	//ICOMOON ICONS
	.icon-phone, .icon-print, .icon-facebook, .icon-twitter, .icon-location, .icon-home, .icon-target, .icon-fire, .icon-mail, .icon-user, .icon-grin, .icon-cancel-circle {
		margin-right:2px;
		margin-left:3px;
	}
	.icon-location {
		float:left;
		height:50px;
		margin-right:5px;
	}
	//ICOMOON ICONS FINISH

	#address_info_C {
		p { line-height:0px; }
	}

	//ADDRESS AND PHONE NUMBERS
	#contact_info {
		position:absolute;
		padding-top: 5px;
		padding-left: 20px;
		top:0px;
		left:0px;
		width: 30%;
		h1 {
			font-size:18px;
			span { font-size:10px; }
		}
		#phone_info_C, #social_info_C {
			float:left;
			margin-right:15px;
			p {
				line-height:0px;
				margin: 5px;
			}
		}
	}
	//ADDRESS AND PHONE NUMBERS ENDS
	#map {
		position:absolute;
		padding:5px;
		top:250px;
		left:10px;
		border: 0px;
		margin: 0 auto;
		width: 35%;
		height:345px;
	}
	//ENDS CONTACT AREA

	//FOOTER
	.footer_line { text-align:center; position:relative; overflow:hidden;}
	.er_pg_footer { position:fixed; bottom:0px; text-align:center; width:100%; }//MENTAL NOTE: CHECK THE POSITION.
	#footer_containers { margin: 0 auto;}

	.footer1_3, .footer3_3 {
		float:left;
		margin:0px;
		padding:4px; 
	}

	.footer1_3 {
		width:32%;
	}

	.footer3_3 {
		width:80%;
	}

	//BOTTOM WALKERS ANIMATION
	#walker_area { 
		height:200px;
		#walkers{
			height:200px;
			#walker_img { height:200px; left:-200px;}
			#walker_img2 { height:200px; right:-200px;}
		}
	}
	//ENDS WALKERS AREA

	//ZOMBIES "MINI GAME"
	#score_display {
		position:absolute;
		width:300px;
		height:100px;
		top:0px;
		right:5px;
		text-align:right;
		h1 { color:red; font-size:20px; margin:0px 0 5px; }
		h2 { color:white; font-size:15px; margin:0 0 2px; }
	}
	.score {
		width:100px;
	}

	#speedy_zombie, #normal_zombie1, #normal_zombie2, #slow_zombie {
		width:120px;
		height:150px;
		position:absolute;
		bottom:22px;
		margin: 0 auto;
	}

	.zombie-trophyRoom {
	    margin:10px !important;
		width:120px !important;
		height:151px !important;
		position:relative !important;
		bottom:0px !important;
		display:inline-block;
	}
	
	.targets{
		position:relative; 
		margin:0; 
		left:-0.2515723270440252%;
		top:0px;
		height:151px;
		width:120px;
	}

	.headshot{
		list-style:none;
		position:absolute;
		margin:0; 
		right:10px;
		top:0px;
		width:105px;
		height:115px;
		z-index:100;
		a{
			height:87px;
			width:79px;
			position:relative;
			text-decoration:none;
			z-index:100;
		}
	}

	.hit{
		list-style:none;
		position:absolute;
		margin:0; 
		right:19px;
		top:87px;
		width:87px;
		height:42px;
		z-index:100;
		a{
			height:42px;
			width:87px;
			position:relative;
			text-decoration:none;
			z-index:100;
		}
	}

	#credentials {
		margin:0 auto;
		position:absolute;
		width:50%;
		left:25%;
		top:70px;
		padding:15px;
		border-radius:5px;
		span { color:red; }
		button { padding:5px; }
		h2 {
			text-align:center;
			margin:3px 0px 10px;
		}
	}

	.longInp {
		width:90% !important;
	}

	//TROPHY ROOM
	#trophy-header {
		padding:5px;
		z-index:100;
		text-align:center;
	}

	.icon-trophyA {
		width:70px;
		height:70px;
		border:0px;
		margin:0 auto;
		padding:0px;
		//display:inline-block;
	}

	.trophy-individual {
		display:inline-block;
		width:100%;
		text-align:center;
		h3 { font-size:90%; }
		p {
			background-image: url('../images/icons/stain.png');
			background-size: contain;
			background-repeat:no-repeat;
			color:red;
			margin:0px;
			text-shadow: 0px 2px 5px rgba(0,0,0,.85) !important;
		}
	}

	#trophy-counter {
		float:left;
		width:98%;
		margin-top:2px;
		padding:1%;
		text-align:center;
	}

	.trophy-container {
		display:inline-block;
		width:18%;
		margin:.2%;
		padding:.2%;
		border-right:1px dashed white;
		text-align:center;
	}

	.last {
		border-right:0px !important;
	}

	.stat-title, .stat-number {
		font-size:130%;
		padding:5px;
	}

	.stat-title { color:red; text-align:right; }
	.stat-number { color:grey; text-align:left; }
	.high-score { font-size:200%; }

}

@media only screen and (max-width: 480px) {

	body { background-image: url(../images/dark_wall.png); }
	#header_container { background-image: url('../images/warning_bg_2.jpg'); background-size: contain; height:180px; position:relative; }
	#header { height:180px; padding-top: 20px; position:relative; a, img{ border:none; } }
	#logo { float:left; height: 80px; }

	//MAIN MENU STARTS
	#main_menu{
		position:absolute; 
		margin:0 auto; 
		//font-size:14px;
		//height:20px;
		right:0px;
		top:45%;
		z-index:100;
		width:100%;
		//background-color:rgba(0,0,0,.2);
		text-align:center;
	}
	#main_menu li{
		margin:5px 10px;
		list-style:none;
		float:none;
		display:inline-block;
	}
	#main_menu li, #main_menu a{ height:20px; }
	#menu_container { width:auto; }
	#menu { width:100%; height:30px; }
	//MAIN MENU ENDS

	#login_panel {
		top:145px;
		width:94%;
		padding:3%;
		button { padding:5px; width:170px; }
		input {
			width:94%;
			padding:12px !important;
		}
	}

	#gStart {
		min-height:390px;
		text-align:center;
	}

	#copy_1, #copy_2, #copy_3 {
		h1 { margin-top:10px; }
	}

	//HUNTING
	#left-col {
		width:100%;
		float:left;
		margin-bottom:13px;
	}

	#hunt-menu {
		list-style:none;
		text-align:center;
		margin-left:-50px;
	}

	#hunt-menu li{
		width:auto;
		display:inline-block;
	}

	#hunt-menu a{
		height:20px;
	}

	div.main_display { display:none; }

	div.tumb_images {
		width:100%;
		text-align: center;
		img {
			width:98%;
			margin:1%;
		}
	}
	#area_map {width:100%;}

	//SHOWROOM DISPLAY
	div.showRoom {
		width:98%;
		height:243px;
	}

	#zombie_normal, #undead_regular, #undead_premium, #creepy_mutations, #house_experiments {
		width: 20%;
		height: 100%;
		background-repeat:no-repeat;
		font-size:70%;
		background-size: 100%;
	}

	.show_description {
		padding:5px;
	}

	div.activity {
		border-bottom:1px dashed white;
		margin-bottom:10px;
	}

	//CONTACT FORM STARTS

	#topic, input,  #message_field {
		margin-bottom:10px;
		display:block;
		clear: both;
		width:95%;
		padding:2% !important;
	}
	#topic {color:grey; width:98% !important;}

	#contact_us {
		label, span {
			float:left;
		}
	}

	#contact_form {
		.form_message {
			font-weight:bold;
			color:red;
		}
	}

	#contact_info {
		padding-left: 3%;
		width: 94%;
		h1 {
			font-size:18px;
			span { font-size:10px; }
		}
		#phone_info_C, #social_info_C, #address_info_C {
			//margin-right:15px;
			margin:10px;
			p {
				line-height:15px;
				margin: 20px;
				font-size:150%;
			}
		}
	}

	#map {
		padding:5px;
		margin-top:20px;
		//margin: 0 auto;
	}

	//ZOMBIES "MINI GAME"
	#score_display {
		position:absolute;
		width:300px;
		height:100px;
		top:0px;
		right:5px;
		text-align:right;
		h1 { color:red; font-size:20px; margin:0px 0 5px; }
		h2 { color:white; font-size:15px; margin:0 0 2px; }
	}
	.score {
		width:100px;
	}

	#speedy_zombie, #normal_zombie1, #normal_zombie2, #slow_zombie {
		width:50px;
		height:60px;
		position:absolute;
		bottom:22px;
		margin: 0 auto;
	}

	.zombie-trophyRoom {
	    margin:10px !important;
		position:relative !important;
		bottom:0px !important;
		display:inline-block;
	}
	
	.targets{
		position:relative; 
		margin:0; 
		left:-0.2515723270440252%;
		top:0px;
		height:151px;
		width:120px;
	}

	.headshot{
		list-style:none;
		position:absolute;
		margin:0; 
		right:10px;
		top:0px;
		width:105px;
		height:115px;
		z-index:100;
		a{
			height:87px;
			width:79px;
			position:relative;
			text-decoration:none;
			z-index:100;
		}
	}

	.hit{
		list-style:none;
		position:absolute;
		margin:0; 
		right:19px;
		top:87px;
		width:87px;
		height:42px;
		z-index:100;
		a{
			height:42px;
			width:87px;
			position:relative;
			text-decoration:none;
			z-index:100;
		}
	}

	.extra_space2 {
		min-height:200px !important;
	}

	#zombie_range {
		height: 67% !important;
	}


	//FOOTER
	.footer_line { text-align:center; position:relative; overflow:hidden;}
	.er_pg_footer { position:fixed; bottom:0px; text-align:center; width:100%; }//MENTAL NOTE: CHECK THE POSITION.
	#footer_containers { margin: 0 auto;}

	.footer1_3, .footer3_3 {
		float:left;
		margin:0px;
		padding:1%; 
	}

	.footer1_3 {
		width:100%;
	}

	.mob_foot_fix {
		width:48% !important;
	}

	.footer3_3 {
		width:100%;
	}

	#credentials {
		margin:0 auto;
		position:absolute;
		width:76%;
		left:10%;
		top:20px;
		padding:2%;
		border-radius:5px;
		input { padding:2.5% !important; }
		span { color:red; }
		button { padding:5px; }
		h2 {
			text-align:center;
			margin:3px 0px 10px;
		}
	}

	//TROPHY ROOM
	#trophy-header {
		padding:5px;
		z-index:100;
		text-align:center;
		font-size:80%;
	}

	.icon-trophyA {
		width:70px;
		height:70px;
		border:0px;
		margin:0 auto;
		padding:0px;
		//display:inline-block;
	}

	.trophy-individual {
		display:inline-block;
		width:100%;
		text-align:center;
		h3 { font-size:85%; }
		p {
			background-image: url('../images/icons/stain.png');
			background-size: contain;
			background-repeat:no-repeat;
			color:red;
			margin:0px;
			text-shadow: 0px 2px 5px rgba(0,0,0,.85) !important;
		}
	}

	#trophy-counter {
		float:left;
		width:98%;
		margin-top:2px;
		padding:1%;
		text-align:center;
	}

	.trophy-container {
		display:inline-block;
		width:18%;
		margin:.2%;
		padding:.2%;
		border-right:1px dashed white;
		text-align:center;
	}

	.last {
		border-right:0px !important;
	}

	.stat-title { color:red; text-align:right; }
	.stat-number { color:grey; text-align:left; }
	.high-score { font-size:170%; }

	#kirby-dance {
		font-size:100% !important;
		display:block;
	}
}

