<div class="panel" ng-class="{'panel-default': PersonalInformationIsComplete == false, 'panel-success': PersonalInformationIsComplete}">
    <div class="panel-heading" data-toggle="collapse" data-target="#contact">
        Contact Information
    </div>

    <form class="form-horizontal panel-body collapse in" role="form" id="contact">
        <fieldset>
            <div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="email">Email</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="email" id="email" placeholder="myname@mydomain.com" ng-model="PersonalInformation.Email">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label" for="phone">Contact Phone #</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="phone" id="phone" placeholder="555-555-5555" ng-model="PersonalInformation.Phone">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-10">
                        <button ng-click="SubmittPersonalInfo()" class="btn btn-default">Submitt contact information</button>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>