<div class="panel" ng-class="{'panel-default': BillingIsComplete == false, 'panel-success': BillingIsComplete}">
    <div class="panel-heading" data-toggle="collapse" data-target="#billing">
        Payment
    </div>

    <form class="form-horizontal panel-body collapse in" role="form" id="billing">
        <fieldset>
            <div>
                <legend data-target="#billing">Card Information</legend>

                <div class="form-group">
                    <label class="col-sm-3 control-label" for="card-holder-name">Name on Card</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="card-holder-name" id="card-holder-name" placeholder="Card Holder's Name" ng-model="Billing.fullName">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="card-number">Card Number</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="card-number" id="card-number" placeholder="Debit/Credit Card Number" ng-model="Billing.cardNumber">
                    </div>
                </div>
                <input type="hidden" value="{{Billing.month}}/{{Billing.year}}" />
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="expiry-month">Expiration Date</label>
                    <div class="col-sm-9">
                        <div class="row">
                            <div class="col-xs-2">
                                <select class="form-control" name="expiry-month" id="expiry-month" ng-model="Billing.month">
                                    <option>Month</option>
                                    <option value="01">Jan (01)</option>
                                    <option value="02">Feb (02)</option>
                                    <option value="03">Mar (03)</option>
                                    <option value="04">Apr (04)</option>
                                    <option value="05">May (05)</option>
                                    <option value="06">June (06)</option>
                                    <option value="07">July (07)</option>
                                    <option value="08">Aug (08)</option>
                                    <option value="09">Sep (09)</option>
                                    <option value="10">Oct (10)</option>
                                    <option value="11">Nov (11)</option>
                                    <option value="12">Dec (12)</option>
                                </select>
                            </div>
                            <div class="col-xs-2">
                                <select class="form-control" name="expiry-year" ng-model="Billing.year">
                                    <option value="13">2013</option>
                                    <option value="14">2014</option>
                                    <option value="15">2015</option>
                                    <option value="16">2016</option>
                                    <option value="17">2017</option>
                                    <option value="18">2018</option>
                                    <option value="19">2019</option>
                                    <option value="20">2020</option>
                                    <option value="21">2021</option>
                                    <option value="22">2022</option>
                                    <option value="23">2023</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label" for="cvv">Card CVV</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" name="cvv" id="cvv" placeholder="Security Code" ng-model="Billing.cvv">
                    </div>
                </div>

                <legend data-toggle="collapse" data-target="#billing">Billing Address</legend>

                <div class="form-group">
                    <div class="col-sm-9 col-sm-offset-3">
                        <div class="checkbox">
                            <label><input type="checkbox" ng-click="HandleSameAsShipping()"> Same as Shipping</label>
                        </div>
                    </div>
                </div>

                <div class="form-group" ng-if="SameAsShipping == false">
                    <label class="col-sm-3 control-label" for="shippingAddress1">Shipping Address 1</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="shippingAddress1" id="shippingAddress1" placeholder="Shipping address 2" ng-model="Billing.shipAddress1">
                    </div>
                </div>

                <div class="form-group" ng-if="SameAsShipping == false">
                    <label class="col-sm-3 control-label" for="shippingAddress2">Shipping Address 2</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="shippingAddress2" id="shippingAddress2" placeholder="Shipping address 2" ng-model="Billing.shipAddress2">
                    </div>
                </div>
                <div class="form-group" ng-if="SameAsShipping == false">
                    <label class="col-sm-3 control-label" for="city">City</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="city" id="city" placeholder="City" ng-model="Billing.city">
                    </div>
                </div>
                <div class="form-group" ng-if="SameAsShipping == false">
                    <label class="col-sm-3 control-label" for="state">State</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="state" id="state" placeholder="State" ng-model="Billing.state">
                    </div>
                </div>
                <div class="form-group" ng-if="SameAsShipping == false">
                    <label class="col-sm-3 control-label" for="zipCode">Zip code</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="zipCode" id="zipCode" placeholder="Zip code" ng-model="Billing.zip">
                    </div>
                </div>

                <div class="form-group" ng-if="SameAsShipping == false">
                    <div class="col-sm-offset-3 col-sm-10">
                        <button ng-click="SubmittBillingInfo()" class="btn btn-default">Submitt billing information</button>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>
